.title{
  width:100vw;
  font-size:80px;
  font-weight:600;
  color:white;
  -webkit-text-stroke: black 2px;
}
.Img{
  width:100vw;
  height:100vh;
  opacity:70%;
}
.Body{
  position: fixed;
  top: 35%;
  left: 30%;
  margin-top: -40px;
  margin-left: -100px;
  text-align:center;

}

.input{
   height:60px;
   width:200px;
border-radius:8%;
border:2px solid rgb(46, 44, 44);
font-size:30px;
}
.select{
    height:60px;
    width:105px;
    margin-left:10px;
    border-radius:5%;
    border:2px solid #333;
    font-size:30px;
}